<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{^user}}
    <p><a href="/login">Login</a> or <a href="/register">Register</a> </p>
{{/user}}


{{#user}}
    <p>
        ID: {{ id }}<br/>
        Username: {{ username }}<br/>
        Email: {{ email }}<br/>
    </p>
    <a href="/logout">Log out</a>

{{/user}}

