<h1>{{title}}</h1>
<p>{{texts.WELCOME_TO}}{{title}}</p>
{{^user}}
    <p><a href="/login">{{texts.LOG_IN}}</a> | <a href="/register">{{texts.REGISTER}}</a> </p>
{{/user}}


{{#user}}
    <p>
        {{texts.ID}}: {{ id }}<br/>
        {{texts.USERNAME}}: {{ username }}<br/>
        {{texts.EMAIL}}: {{ email }}<br/>
    </p>
    <a href="/logout">{{texts.LOG_OUT}}</a>

{{/user}}

