<form action="/login" method="post">
    {{#message}}
        <h3 class="{{style}}">{{text}}</h3>
    {{/message}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <table>
        <tr>
            <td><label>{{texts.USERNAME}}:</label></td>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label>{{texts.PASSWORD}}:</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td><a href="/register">{{texts.REGISTER}}!</a></td>
        </tr>
    </table>
</form>