<form action="/register" method="post">
    {{#message}}
        <h3 class="{{style}}">{{text}}</h3>
    {{/message}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <table>
        <tr>
            <td><label>{{texts.USERNAME}}:</label></td>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label>{{texts.EMAIL}}:</label></td>
            <td><input type="email" name="email"/><br/></td>
        </tr>
        <tr>
            <td><label>{{texts.PASSWORD}}:</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><label>{{texts.PASSWORD_AGAIN}}:</label></td>
            <td><input type="password" name="passwordagain"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" >{{texts.SUBMIT}}</button>
            </td>
            <td>
                <a href="/">{{texts.CANCEL}}</a>
            </td>
        </tr>
    </table>



</form>